<ng-container *ngIf="control.statusChanges | async"></ng-container>
<label class="input-container">
  <span
    [ngClass]="{ label_text: true, disabled_text_color: control.disabled }"
    >{{ label | requiredAsterisk : required }}</span
  >
  <input
    [ngClass]="{
      common_input: true,
      'red-border': control.dirty && control.touched && control.invalid
    }"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    [readOnly]="readonly"
    (blur)="onBlur($event)"
    (input)="onInput($event)"
    (keyup)="onKeyUp($event)"
    [maxlength]="maxLength"
  />
  <ng-template [ngIf]="usePasswordIcon">
    <img
      class="password_icon"
      [src]="passwordIcon"
      (click)="togglePasswordInput()"
    />
  </ng-template>
  <ng-content select="[icon]"></ng-content>
</label>
<span
  *ngIf="caption"
  [ngClass]="{ caption: true, disabled_text_color: control.disabled }"
>
  {{ caption }}
</span>
<app-validation-error
  [controlErrors]="control.errors"
  [touched]="control.touched"
  [dirty]="control.dirty"
  [validationMessages]="validationMessages"
></app-validation-error>
