<ng-container
  [ngTemplateOutlet]="(isMobileWindowWidth$ | async) ? altStrategyView : null"
></ng-container>
<form [formGroup]="authForm" #form="ngForm">
  <h2>
    {{ isLoginType ? local.auth.loginHeader : local.auth.registerHeader }}
  </h2>
  <fieldset>
    <label>
      <div class="label_text">{{ local.auth.inputEmail }}</div>
      <app-input
        [placeholder]="local.auth.inputEmailPlaceholder"
        [control]="username"
        [validationMessages]="usernameValidationMessages"
      >
      </app-input>
    </label>
    <label>
      <div class="label_text">{{ local.auth.inputPassword }}</div>
      <app-input
        [placeholder]="local.auth.inputPasswordPlaceholder"
        [control]="password"
        [usePasswordIcon]="true"
        [type]="'password'"
        [validationMessages]="passwordValidationMessages"
      ></app-input>
    </label>
    <label *ngIf="!isLoginType">
      <div class="label_text">{{ local.auth.inputConfirmPassword }}</div>
      <app-input
        [placeholder]="local.auth.inputPasswordPlaceholder"
        [control]="confirmPassword"
        [usePasswordIcon]="true"
        [type]="'password'"
        [validationMessages]="confirmPasswordValidationMessages"
      ></app-input>
    </label>
    <div *ngIf="isLoginType" class="forgot_password">
      <button class="text-btn">
        {{ local.auth.forgotPassword }}
      </button>
    </div>
    <button
      class="login_btn orange-btn"
      (click)="authenticate()"
      (keyup.enter)="authenticate()"
    >
      {{ isLoginType ? local.auth.loginButton : local.auth.registerButton }}
    </button>
    <div class="options-container">
      <h6 class="options_header">{{ local.auth.authOptions }}</h6>
      <div class="options">
        <div class="auth_icon">
          <img
            class="google_icon"
            src="assets/pictures/icons/google.svg"
            alt="google"
          />
          <span>{{ local.auth.authGoogle }}</span>
        </div>
        <div class="auth_icon">
          <img
            class="apple_icon"
            src="assets/pictures/icons/apple.svg"
            alt="apple"
          />
          <span>{{ local.auth.authApple }}</span>
        </div>
      </div>
    </div>
    <div class="switch_forms">
      <span>{{
        isLoginType ? local.auth.dontHaveAccount : local.auth.alreadyHaveAccount
      }}</span>
      <button class="text-btn" (click)="switchForms()">
        {{
          isLoginType ? local.auth.switchToRegister : local.auth.switchToLogin
        }}
      </button>
    </div>
  </fieldset>
  <div class="alt_strategy_bottom">
    <ng-container
      [ngTemplateOutlet]="
        !(isMobileWindowWidth$ | async) ? altStrategyView : null
      "
    ></ng-container>
  </div>
</form>

<ng-template #altStrategyView>
  <div class="different_strategy">
    <span class="realtor_login">{{ local.auth.realtorLogin }}</span>
    <span>{{ local.auth.carBrokerLogin }}</span>
  </div>
</ng-template>
