<ng-container
  [ngTemplateOutlet]="(isMobileWindowWidth$ | async) ? altStrategyView : null"
></ng-container>
<form
  [formGroup]="authForm"
  #form="ngForm"
  (keydown.enter)="authenticate($event)"
  (submit)="{}"
>
  <h2>
    {{ isLoginType ? local.loginHeader : local.registerHeader }}
  </h2>
  <fieldset>
    <ng-container *ngIf="error$ | async as error; else messageBlock">
      <div class="response error_message_sml">
        {{ error }}
      </div>
    </ng-container>

    <ng-template #messageBlock>
      <ng-container *ngIf="message$ | async as message">
        <div class="response successful">
          {{ message }}
        </div>
      </ng-container>
    </ng-template>

    <label>
      <div class="label_text">{{ local.inputEmail }}</div>
      <app-form-control
        [placeholder]="local.inputEmailPlaceholder"
        [control]="username"
        [validationMessages]="usernameValidationMessages"
      >
      </app-form-control>
    </label>
    <label>
      <div class="label_text">{{ local.inputPassword }}</div>
      <app-form-control
        [placeholder]="local.inputPasswordPlaceholder"
        [control]="password"
        [usePasswordIcon]="true"
        [type]="'password'"
        [validationMessages]="passwordValidationMessages"
      ></app-form-control>
    </label>
    <label *ngIf="!isLoginType">
      <div class="label_text">{{ local.inputConfirmPassword }}</div>
      <app-form-control
        [placeholder]="local.inputPasswordPlaceholder"
        [control]="confirmPassword"
        [usePasswordIcon]="true"
        [type]="'password'"
        [validationMessages]="confirmPasswordValidationMessages"
      ></app-form-control>
    </label>
    <div *ngIf="isLoginType" class="forgot_password">
      <button class="text-btn">
        {{ local.forgotPassword }}
      </button>
    </div>
    <button class="login_btn orange-btn" (click)="authenticate($event)">
      {{ isLoginType ? local.loginButton : local.registerButton }}
    </button>
    <div class="options-container">
      <h6 class="options_header">{{ local.authOptions }}</h6>
      <div class="options">
        <div class="auth_icon">
          <img
            class="google_icon"
            [src]="images.googleIcon"
            alt="google"
          />
          <span>{{ local.authGoogle }}</span>
        </div>
        <div class="auth_icon">
          <img
            class="apple_icon"
            [src]="images.appleIcon"
            alt="apple"
          />
          <span>{{ local.authApple }}</span>
        </div>
      </div>
    </div>
    <div class="switch_forms">
      <span>{{
        isLoginType ? local.dontHaveAccount : local.alreadyHaveAccount
      }}</span>
      <button class="text-btn" (click)="switchForms()">
        {{
          isLoginType ? local.switchToRegister : local.switchToLogin
        }}
      </button>
    </div>
  </fieldset>
  <div class="alt_strategy_bottom">
    <ng-container
      [ngTemplateOutlet]="
        !(isMobileWindowWidth$ | async) ? altStrategyView : null
      "
    ></ng-container>
  </div>
</form>

<ng-template #altStrategyView>
  <div class="different_strategy">
    <span class="realtor_login">{{ local.realtorLogin }}</span>
    <span>{{ local.carBrokerLogin }}</span>
  </div>
</ng-template>
