<label
  class="label"
  (click)="toggleDropdownView($event)"
  (focusout)="closeDropdown($event)"
  tabindex="-1"
>
  <div class="label_text">{{ label | requiredAsterisk : required }}</div>
  <div
    [ngClass]="{
      control: true,
      'red-border': controlDirty && controlTouched && controlInvalid
    }"
  >
    <input
      [value]="inputValue | yad2Translate : translatonSrc"
      readonly
      [placeholder]="placeholder"
      type="text"
    />
    <img
      [ngClass]="{ flip_arrow: optionsDropdownView }"
      [src]="dropdownArrowImg"
    />
  </div>
  <ng-template [ngIf]="optionsDropdownView" #optionsTemplate>
    <ul class="options">
      <li (click)="markOption(option, $event)" *ngFor="let option of options">
        <span>
          {{ option | yad2Translate : translatonSrc }}
        </span>
        <img
          *ngIf="selectedOption === option"
          [src]="markSelectedImg"
          alt="selected"
        />
      </li>
    </ul>
  </ng-template>
  <app-validation-error
    [controlErrors]="controlErrors"
    [touched]="controlTouched"
    [dirty]="controlDirty"
    [validationMessages]="validationMessages"
  ></app-validation-error>
</label>
