<main>
  <h2>{{ local.selectCategory_header }}</h2>
  <div class="categories">
    <div class="category top-row">
      <img [src]="images.realestate" />
      <h4>{{ local.selectCategory_realestate }}</h4>
      <span>{{ local.selectCategory_realestateDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category top-row">
      <img [src]="images.automobiles" />
      <h4>{{ local.selectCategory_automobiles }}</h4>
      <span>{{ local.selectCategory_automobilesDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category top-row">
      <img [src]="images.secondhand" />
      <h4>{{ local.selectCategory_secondhand }}</h4>
      <span>{{ local.selectCategory_secondhandDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category middle-row">
      <img [src]="images.businessForSale" />
      <h4>{{ local.selectCategory_businessForsale }}</h4>
      <span>{{ local.selectCategory_businessForsaleDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category middle-row">
      <img [src]="images.tradesPerson" />
      <h4>{{ local.selectCategory_tradesPerson }}</h4>
      <span>{{ local.selectCategory_tradesPersonDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category middle-row">
      <img [src]="images.commercialRealEstate" />
      <h4>{{ local.selectCategory_commercialRealestate }}</h4>
      <span>{{ local.selectCategory_commercialRealestateDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category middle-row">
      <img [src]="images.cellular" />
      <h4>{{ local.selectCategory_cellular }}</h4>
      <span>{{ local.selectCategory_cellularDescription }}</span>
      <button>{{ local.selectCategory_btn_start }}</button>
    </div>
    <div class="category bottom-row">
      <img [src]="images.furniture" />
      <h4>{{ local.selectCategory_furniture }}</h4>
    </div>
    <div class="category bottom-row">
      <img [src]="images.fashion" />
      <h4>{{ local.selectCategory_fashion }}</h4>
    </div>
    <div class="category bottom-row">
      <img [src]="images.pets" />
      <h4>
        {{ local.selectCategory_pets }}
      </h4>
    </div>
    <div class="category bottom-row">
      <img [src]="images.children" />
      <h4>
        {{ local.selectCategory_children }}
      </h4>
    </div>
    <div class="category bottom-row">
      <img [src]="images.recruiting" />
      <h4>
        {{ local.selectCategory_recruiting }}
      </h4>
    </div>
  </div>
</main>
