.main_navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  height: 70px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 8%);
}

.boards {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons div {
  margin: 14px;
  height: 100%;
  display: flex;
  align-items: center;
}

.buttons * {
  cursor: pointer;
}

.boards li {
  padding: 20px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.boards img {
  margin-left: 10px;
}

.alerts img {
  width: 21px;
}

.favorites img {
  width: 30px;
}

.publish {
  height: 40px;
  width: 193px;

}

.publish::before {
  content: "+";
  display: inline;
  margin-left: 5px;
  font-size: 14px;
}

.listings {
  margin: 0;
  padding: 0;
  padding: 0 120px;

  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
}

.listings li {
  padding:  17px;
  cursor: pointer;
}
