:host {
  display: block;
  position: relative;
}

img {
  position: absolute;
  top: 40%;
  left: 3%;
}

.password_icon {
  cursor: pointer;
  width: 20px;
  opacity: .6;
}

.input-container {
  position: relative;
}
