<div class="input-container">
  <ng-container *ngIf="control.statusChanges | async"></ng-container>
  <input
    [ngClass]="{
      input: true,
      'red-border': control.dirty && control.touched && control.invalid
    }"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    (blur)="onBlur($event)"
    #input
  />
  <ng-template [ngIf]="usePasswordIcon">
    <img
      class="password_icon"
      *ngIf="input.type === 'password'"
      src="assets/pictures/icons/password_visible.png"
      (click)="updateInputType('text')"
    />
    <img
      class="password_icon"
      *ngIf="input.type === 'text'"
      src="assets/pictures/icons/password_invisible.png"
      (click)="updateInputType('password')"
    />
  </ng-template>
</div>
<app-validation-error
  [controlErrors]="control.errors"
  [touched]="control.touched"
  [dirty]="control.dirty"
  [validationMessages]="validationMessages"
></app-validation-error>
