:host {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.container {
  padding: 10px;
}

.container h4,
h5 {
  font-weight: 500;
  margin: 0;
}

.container h5 {
  font-size: 12px;
  color: #999999;
  margin-top: 10px;
}
