:host {
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  border-top: 5px solid var(--yad2Orange);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
}

nav section {
  display: flex;
  align-items: center;
}

.right img {
  margin-left: 15px;
}

.right span {
  font-size: 18px;
}

.contact {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin-left: 15px
}

.user {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user span {
  color: var(--yad2Orange);
}

.user img {
  width: 25px;
}

.exit {
  width: 81px;
  height: 31px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.exit::after {
  content: "\2715";
  display: block;
  font-size: 18px;
}
