<nav>
  <section class="right">
    <img routerLink="/main" [src]="siteLogo" alt="yad 2 logo" />
    <span>{{ local.navbar_publishNewAd }}</span>
  </section>
  <section class="left">
    <div class="user">
      <ng-container *ngIf="user">
        <img [src]="activeUser" alt="my account" />
        <span>{{ user.userName }}</span>
      </ng-container>
    </div>
    <span class="contact colorless-btn">{{ local.navbar_contact }}</span>
    <button *ngIf="currentStep !== 0" class="colorless-btn" routerLink="/main">
      {{ local.selectCategory_btn_exit }}
    </button>
  </section>
</nav>
