<section class="publish_realestate_content">
  <app-seven-step-form-title
    [index]="stepData.index"
    [title]="stepData.showcaseTitle"
  ></app-seven-step-form-title>
  <ul class="categories">
    <li (click)="setListingCategory(1)">
      <img [src]="images.sale" />
      <div>{{ local.step1_option_forSsale }}</div>
    </li>
    <li>
      <img [src]="images.rent" />
      <div>{{ local.step1_option_forRent }}</div>
    </li>
    <li>
      <img [src]="images.roommates" />
      <div>{{ local.step1_option_forRoommates }}</div>
    </li>
    <li>
      <img [src]="images.commercial" />
      <div>{{ local.step1_option_forCommercial }}</div>
    </li>
  </ul>
</section>
