:host {
  pointer-events: var(--pointer-events);
}

.input {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid #363636;
  border-radius: 2px;
  display: grid;
  place-content: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 100%;
}

.input:hover:not(:disabled) {
  border-color: var(--yad2Orange);
}

.input::before {
  content: "\2713";
  font-size: 14px;
  color: #fff;
  display: none;
}

.input:checked::before {
  display: block;
}

.input:checked {
  background-color: var(--yad2Orange);
  border: 1px solid var(--yad2Orange);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.indeterminate-icon::before {
  content: "-";
  font-size: 14px;
  color: #fff;
  display: block;
}

.input:indeterminate {
  background-color: var(--yad2Orange);
  border: 1px solid var(--yad2Orange);
}

label {
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--label-background);
  padding: var(--label-padding);
  gap: 5px;
  height: var(--height);
  width: var(--width);
  padding: var(--padding);
}

label > span {
  margin-right: 5px;
  font-size: var(--label-font-size);
}

.disabled {
  color: var(--spanishGray);
  cursor: not-allowed;
}
