<div class="three-col-grid">
  <section class="right_col">
    <div class="img-container">
      <img [src]="imgPlaceholder" />
    </div>
    <span class="address">
      <div class="title">
        {{ propertyDto.street }} {{ propertyDto.houseNum }}
      </div>
      <div class="label subtitle">{{ propertyType$ | async }}, {{propertyDto.city}}</div>
    </span>
  </section>
  <section class="middle_col">
    <span class="rooms">
      <div>
        {{ propertyDto.rooms }}
      </div>
      <div class="label">
        {{ local.preview_label_rooms }}
      </div>
    </span>
    <span class="floors">
      <div>
        {{ propertyDto.floor }}
      </div>
      <div class="label">
        {{ local.preview_label_floors }}
      </div>
    </span>
    <span class="total_square_meter">
      <div>
        {{ propertyDto.totalSquareMeter }}
      </div>
      <div class="label">
        {{ local.preview_label_totalSquareMeter }}
      </div>
    </span>
  </section>
  <section class="left_col">
    <button class="new_tab_btn">
      <span>{{ local.preview_label_openInNewTab }}</span>
      <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
    </button>
    <div class="price">
      {{ propertyDto.price | currency : "ILS" : "symbol" : "1.0-0" }}
    </div>
    <div class="update_container">
      <span class="last_update">
        {{ local.preview_label_lastUpdated }}
      </span>
      <span class="click_for_details">
        {{ local.preview_label_clickForDetails }}
      </span>
    </div>
  </section>
</div>
