<section class="right_col">
  <img
    src="https://img.yad2.co.il/Pic/202303/12/2_1/o/y2_8_08304_20230312175206.jpeg"
  />
  <span class="address">
    <div class="street"></div>
    <div class="description"></div>
  </span>
</section>
<section class="middle_col">
  <span class="rooms"></span>
  <span class="floors"></span>
  <span class="square_meter"></span>
</section>
<section class="left_col">
  <button class="new_tab_btn"></button>
  <div class="price"></div>
  <div class="last_update"></div>
</section>
